# Binaries
/tunnel9
/release/
/homebrew

# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
/vendor/

# IDE specific
.idea/
.vscode/
*.swp
*.swo
commands

# Air
tmp/ 
**/*.bak

# Test coverage artifacts
coverage.out
coverage.html
.av/.cache/local_hash
.av/.cache/local_help_cache
